terminator-window notebook header {
    background-color: #363636;
}

terminator-window notebook tab {
    background-color: #363636;
    color: #808080;
}

terminator-window notebook tab:checked {
    background-color: #202020;
    color: #b0b0b0;
}
